In [3]:
# import libraries needed 
import urllib.request
import requests
from bs4 import BeautifulSoup as bs

In [4]:
# specify NASA Mars New Site url to scrape
url = "https://mars.nasa.gov/news/8503/robotic-toolkit-added-to-nasas-mars-2020-rover"

In [5]:
# open the URL using urllib.request and put the HTML into the page variable
page = urllib.request.urlopen(url)

In [6]:
# parse the HTML from our url into the BeautifulSoup parse tree format
soup = bs(page, 'lxml')

In [7]:
# print(soup.prettify())

In [10]:
# Collect the news title and assign to variable
news_title = soup.find(class_='article_title').text.strip()
news_title

"Robotic Toolkit Added to NASA's Mars 2020 Rover"

In [56]:
# Get all paragraph texts
#paragraphs = soup.body.find_all('p')
#for paragraph in paragraphs:
#    print(paragraph.text)
news_p = soup.body.find('p').text
news_p

'Cache and Carry: In this August 5, 2019 image, the bit carousel - the heart of sampling and caching subsystem of NASA’s Mars 2020 mission -  is attached to the front end of the rover. Image Credit: NASA/JPL-Caltech. Full image and caption ›'

In [17]:
# import splinter
from splinter import Browser

In [20]:
executable_path = {'executable_path': 'c:\DataVisual\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [21]:
# Get url for JPL Mars Space image
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19952_hires.jpg'
browser.visit(featured_image_url)

In [22]:
#Twitter url to scrape
twit_url = 'https://twitter.com/marswxreport?lang=en'
# open the URL using urllib.request and put the HTML into the page variable
twit_page = urllib.request.urlopen(twit_url)

In [23]:
# parse the HTML from our url into the BeautifulSoup parse tree format
twit_soup = bs(twit_page, 'lxml')

In [25]:
# print(twit_soup.prettify())

In [46]:
# twit_soup.find_all('p')
# Get latest Mars weather from Twitter
mars_weather = twit_soup.find('p', attrs={'class': 'TweetTextSize TweetTextSize--normal js-tweet-text tweet-text'}).text.strip()
mars_weather

'InSight sol 261 (2019-08-21) low -102.4ºC (-152.4ºF) high -26.6ºC (-15.8ºF)\nwinds from the SSE at 4.9 m/s (11.0 mph) gusting to 16.0 m/s (35.8 mph)\npressure at 7.70 hPapic.twitter.com/MhPPOHJg3m'

In [47]:
# Mars Facts - use Pandas to scrape table with facts
import pandas as pd
facts_url = 'https://space-facts.com/mars/'

In [48]:
fact_table = pd.read_html(facts_url)
fact_table

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [50]:
fact_df = fact_table[1]
fact_df.columns = ['Metric', 'Measurement']
fact_df

                 Metric                    Measurement
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [52]:
fact_html = fact_df.to_html()
fact_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Metric</th>\n      <th>Measurement</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [53]:
fact_html.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Metric</th>      <th>Measurement</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [54]:
hemisphere_image_urls = [
    {"title": "Cereberus Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg"},
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg"}  
]

In [57]:
Mars_data={"news_title": news_title,
          "news_p": news_p,
          "featured_image": featured_image_url}

In [58]:
print(f'{Mars_data["news_title"]}')

Robotic Toolkit Added to NASA's Mars 2020 Rover

In [59]:
print({Mars_data["featured_image"]})

{'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19952_hires.jpg'}